*{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}

li{
    list-style: none;
}

body{
    font-family: 'Source Code Pro', monospace;
    background: url("../Portifolio/img/Background.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    color: black;
}
.container{
    padding:  0 16px;
}
.title{
    font-size: 36px;
    font-weight: normal;
}

.profile{
    max-width: 400px;
    box-sizing: border-box;
    margin: 0 auto;
}

.box {
    background-color:rgb(231, 231, 231);
    padding: 2rem;
    box-shadow: 2px 2px 10px rgb(0, 0, 0.20);
    border-radius: 50px;
    text-align: center;
    margin-top: 8rem;
}

.profile-pic{
    border-radius: 50%;
    margin: 0 auto 2rem auto;
}

.profile span{
    font-size: 24px;
}
.profile p{
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.redes-sociais{
    display: flex;
    justify-content: center;
    max-width: 230px;
    max-height: 230px;
    margin: 0 auto auto auto;    
}

.redes-sociais li {
    margin: 0 0.5rem auto auto;
}
.portifolio{
    max-width: 890px;
    box-sizing: border-box;
}
.portifolio img{
    border-radius: 10px;
}
.portifolio ul{
    margin-top: 3rem;
}
.portifolio li{
    display: grid;
    text-align:left; 
    grid-template-columns:auto auto auto;
    gap: 1rem;
}
.portifolio li+li{
    margin-top: 3rem;
}
.portifolio h2{
    margin-bottom: 1rem;
}
.copyrigth{
    font-size: 24px;
    color: black;
    text-shadow: 2px 2px 16px white;
    font-weight: bold;
    margin-top: 50vh;
    padding-bottom: 50vh;
    text-align: center;
}
 
/*Deixando o site responsivo*/
  
@media (max-width: 600px){
body{
    background-attachment: initial;
    background-repeat:no-repeat ;
    background-size: contain;
    background-color: rgb(84, 80, 80);
}    
.box{
    padding: 2rem;
    margin-top: 4rem;
    border-radius: 30px;
}
.box:first-child{
    padding: 3rem;
}
.portifolio li{
    grid-template-columns: 1fr;
    justify-items: center;
}

.portifolio li div{
    max-width: 448px;
}
.copyrigth{
    font-size: 18px;
    margin: 0px;
    padding: 4rem 0 ;
}
}